body {
    display: grid;
    grid-template-areas: 
       "header header header"
       "left content right"
       "footer footer footer";
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    grid-template-rows: 20% 1fr 15%;
    grid-gap: 0.7rem;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.6rem;
}

header, footer, div, content {
    border: 1px solid #000;
}

header {
    grid-area: header;
}

.header {
    width: 50%;
    height: 1.2rem;
    margin-left: 15%;
    margin-top: 3rem;
}

footer {
    grid-area: footer;
}

.content {
    grid-area: content;
    height: 450px;
    /*or height: fit-content in order to enable the box 
    to use the available space, but never more than max-content  */
}

.left {
    grid-area: left;
    margin-left: 0.7rem;
    border: none;
}

.left__item {
    height: 8rem;
    margin-bottom: 0.7rem;
}

.left__item:last-child{
    margin-bottom: 0; 
}

.right {
    grid-area: right;
    margin-right: 0.7rem;
    height: 450px;
}

@media all and (max-width: 640px) {
    
    body {
        display: grid;
        grid-template-areas: 
           "header header header"
           "content content content"
           "right right right"
           "left left left"
           "footer footer footer";
        grid-template-rows: 15% repeat(3, 1fr) 15%;
    }

    .header {
        margin-top: 2rem;
    }

    .content, .right {
        margin: 0 0.7rem 0.7rem 0.7rem;
        border: 1px solid #000;
        height: 200px;
    }
   
    .left {
        display: grid;  
        grid-template-columns: repeat(auto-fill, 8rem);        
        grid-gap: 0.7rem;
        padding-right: 0.7rem;
    }

    .left__item {
        width: 8rem;
    }
}